.top-svg-animation {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    opacity: .85;
    max-width: 21.4em;
}

.humer-body {
    animation: body-animation 1s ease-out 0s infinite;
    transform-origin: center bottom;
}

@keyframes body-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*ここから本題*/

.humer {
    animation: humer-animation 1s ease-out 0s infinite;
}

@keyframes humer-animation {
    49% {
        transform: rotate(0deg);
        opacity: 1;
        transform-origin: center;
    }
    50% {
        transform: rotate(100deg);
        opacity: .8;
        transform-origin: 26% 25%;
    }
    70% {
        transform: rotate(190deg) translate(-40px, -0px);
        transform-origin: 26% 30%;
    }
    90% {
        transform: rotate(100deg);
        opacity: .8;
        transform-origin: 26% 25%;
    }
    99% {
        transform: rotate(0deg);
        opacity: 1;
        transform-origin: center;
    }
}

.l-arm {
    animation: l-arm-animation .8s ease-out 0s infinite;
    transform-origin: 38% 55%;
}

@keyframes l-arm-animation {
    65% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        transform: rotate(170deg) translate(-40px, 0px);
        opacity: 0;
    }
}

.arm {
    animation: arm-animtion 0.52s ease-out 0s infinite;
    transform-origin: 26% 30%;
}

@keyframes arm-animation {
    15% {
        opacity: 1;
    }
    100% {
        transform: rotate(100deg) translate(-40px, -0px);
        opacity: 0
    }
}