.ect-vertical-card .entry-card-wrap{
    max-width: 43%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    border-radius: 3px;
    padding:0;
}
.entry-card-title{
    color: #5a5a5a; /*見出しの色*/
    line-height: 1.6;
}
.ect-vertical-card .entry-card-wrap .entry-card-content {
    margin: 8px 12px 9px 12px;
}
.entry-card-meta, .related-entry-card-meta {
    color: #b7b7b7;
    margin: 4px 8px;
}
.entry-card-wrap .cat-label{
    display: none; /*カテゴリを非表示に*/
}
.ect-vertical-card {
    justify-content: space-around;
}