<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ブログ用</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
    <div id="app">
        <div :style="errorMessageStyle">
            <ul>
                <li v-for="food in foods" v-bind:key="food.name">
                    {{food.name}}：{{food.price}} × {{food.quantity}} = {{food.price*food.quantity | numberWithDelimiter}}円
                </li>
            </ul>
            <p>
                {{foods[0].name}}：{{foods[0].price}} × {{foods[0].quantity}}
            </p>
            <p>
                小計：{{totalPrice | numberWithDelimiter}}円
            </p>
            <p>
                合計：{{totalPriceWithTax | numberWithDelimiter}}円
            </p>
            <p v-if="!canBuy">
                {{1000 | numberWithDelimiter}}円以上からご購入いただけます
            </p>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>