<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ブログ用</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
    <div id="login-form">
        <user-login></user-login>
    </div>

    <script type="text/x-template" id="login-template">
        <div id="login-template">
                <div>
                    <input type="text" placeholder="ログインID" v-model="userid">
                </div>
                <div>
                    <input type="password" placeholder="パスワード" v-model="password">
                </div>
                <button @click="login">ログイン</button>
            </div>
    </script>
    <script src="script.js"></script>
</body>

</html>