<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ブログ用</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <router-link to="/top">トップページへ</router-link>
        <router-link to="/users">ユーザー一覧へ</router-link>
        <router-link to="/users/new">新規追加</router-link>
        <router-view></router-view>
    </div>

    <script type="text/x-template" id="user-list">
    <div>
        <div class="loading" v-if="loading"読み込み中...></div>
        <div class="error" v-if="error">{{error}}</div>
        <div v-for="user in users" :key="user.id">
            <router-link :to="{path:'/users/'+user.id}">
                {{user.name}}
            </router-link>
        </div>
    </div>
    </script>
    <script type="text/x-template" id="user-detail">
        <div>
            <div class=" loading " v-if="loading "読み込み中...></div>
            <div class="error" v-if="error">{{error}}</div>
            <div v-if="user">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
        </script>
    <script type="text/x-template" id="user-create">
        <div>
            <div class="sending" v-if="sending">Sending...</div>
            <div>
                <h2>新規ユーザー作成</h2>
                <div>
                    <label>名前：</label>
                    <input type="text" v-model="user.name">
                </div>
                <div>
                    <label>ユーザー詳細：</label>
                    <textarea v-model="user.description"></textarea>
                </div>
                <div v-if="error" class="error">{{error}}</div>
                <div>
                    <input type="button" @click="createUser" value="送信">
                </div>
            </div>
        </div>
    </script>

    <script src="script.js "></script>
</body>

</html>